<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funkiepumkinapplication">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunkiePumkinApplication"
        android:name=".member.KakaoApplication"
        android:usesCleartextTraffic="true">

        <activity android:name=".Map.MapActivity2" android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="k9pye6691z" />

        <activity
            android:name=".admin.AdminOrderActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".admin.ResetStampActivity" />
        <activity android:name=".admin.AddStampActivity" />
        <activity
            android:name=".cart.CartActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".order.OrderActivity"
            android:parentActivityName=".cart.CartActivity" />
        <activity
            android:name=".order.OrderCompletedActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product.ProductDetailActivity"
            android:parentActivityName=".product.ProductMainActivity" />
        <activity
            android:name=".product.FruitList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product.HerbList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product.ProductList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product.ProductMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product.VegetableList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".refrige.RefrigeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".refrige.RecipeActivity"
            android:parentActivityName=".refrige.RefrigeActivity" />
        <activity
            android:name=".stamp.StampActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Map.MapActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".member.MemberActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".member.JoinActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".member.LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".event.EventResultActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".event.EventActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FunkiePumkinApplication.NoActionBar" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
            <data android:host="oauth"
                android:scheme="kakao4d21f74eebd7c767c66a99e7b4a4a111" />
        </intent-filter>
        </activity>
    </application>

</manifest>